.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    min-height: 20px;
    background-color: #282828;
    z-index: 1;
}

.navBTN {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

li {
    list-style: none;

}
a {
    text-decoration: none;
    color: #eee9e9;
    font-size: 30px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    position: relative;
    padding: 5px 10px;

}

a:hover {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

a.active {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);

    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0.02) 100%
    );
}

a.active:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.4);
}
