.mainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info {
    color: #fff;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 2px #000;
}

.size {
    font-size: 10rem;
}

@media (max-width: 768px) {
    .info {
        font-size: 1.5rem;
    }

    .size {
        font-size: 7rem;
    }
}
@media (max-width: 480px) {
    .info {
        font-size: 1rem;
    }

    .size {
        font-size: 5rem;
    }
}