.mainWrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    position: fixed; /* или absolute, в зависимости от вашей структуры */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../assets/images/woman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;

}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleH1{
display: none;
}
.title {
    color: white;
    font-size: 4rem;
    text-shadow: 3px 3px 3px #000;
}
@media (max-width: 992px) {
    .title {
        font-size: 3rem;
    }

}
@media (max-width: 650px) {
    .title {
        font-size: 2.5rem;
    }
}
@media (max-width: 480px) {
    .title {
        font-size: 2rem;
    }

}