.searchWrapper {
    position: relative;
    max-width: 400px;
    margin: 0 auto 70px;
}

.searchContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.searchInput {
    padding: 12px 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #494949;
    border-radius: 30px;
    outline: none;
    transition: all 0.4s ease-in-out;
}

.searchInput:hover {
    border-color: #8a8787;
}

.searchInput:focus {
    border-color: white;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.searchButton {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: transform 0.3s ease;
}

.searchButton:hover {
    transform: scale(1.1);
}

.searchButton:active {
    transform: scale(0.95);
}

.searchIcon {
    transition: fill 0.3s ease;
}

.searchInput:focus + .searchButton .searchIcon {
    fill: white;
}


